<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.rayejun.shardingjdbc.demo.dao.mysql.ShardingMapper">
  <resultMap id="BaseResultMap" type="io.github.rayejun.shardingjdbc.demo.model.mysql.Sharding">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sharding_key" jdbcType="VARCHAR" property="shardingKey" />
    <result column="sharding_key_name" jdbcType="VARCHAR" property="shardingKeyName" />
    <result column="logic_table" jdbcType="VARCHAR" property="logicTable" />
    <result column="target_table" jdbcType="VARCHAR" property="targetTable" />
    <result column="target_db" jdbcType="VARCHAR" property="targetDb" />
    <result column="db_name" jdbcType="VARCHAR" property="dbName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sharding_key, sharding_key_name, logic_table, target_table, target_db, db_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_sharding
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from base_sharding
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="io.github.rayejun.shardingjdbc.demo.model.mysql.Sharding">
    insert into base_sharding (id, sharding_key, sharding_key_name, 
      logic_table, target_table, target_db, 
      db_name)
    values (#{id,jdbcType=INTEGER}, #{shardingKey,jdbcType=VARCHAR}, #{shardingKeyName,jdbcType=VARCHAR}, 
      #{logicTable,jdbcType=VARCHAR}, #{targetTable,jdbcType=VARCHAR}, #{targetDb,jdbcType=VARCHAR}, 
      #{dbName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="io.github.rayejun.shardingjdbc.demo.model.mysql.Sharding">
    insert into base_sharding
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shardingKey != null">
        sharding_key,
      </if>
      <if test="shardingKeyName != null">
        sharding_key_name,
      </if>
      <if test="logicTable != null">
        logic_table,
      </if>
      <if test="targetTable != null">
        target_table,
      </if>
      <if test="targetDb != null">
        target_db,
      </if>
      <if test="dbName != null">
        db_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shardingKey != null">
        #{shardingKey,jdbcType=VARCHAR},
      </if>
      <if test="shardingKeyName != null">
        #{shardingKeyName,jdbcType=VARCHAR},
      </if>
      <if test="logicTable != null">
        #{logicTable,jdbcType=VARCHAR},
      </if>
      <if test="targetTable != null">
        #{targetTable,jdbcType=VARCHAR},
      </if>
      <if test="targetDb != null">
        #{targetDb,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null">
        #{dbName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.github.rayejun.shardingjdbc.demo.model.mysql.Sharding">
    update base_sharding
    <set>
      <if test="shardingKey != null">
        sharding_key = #{shardingKey,jdbcType=VARCHAR},
      </if>
      <if test="shardingKeyName != null">
        sharding_key_name = #{shardingKeyName,jdbcType=VARCHAR},
      </if>
      <if test="logicTable != null">
        logic_table = #{logicTable,jdbcType=VARCHAR},
      </if>
      <if test="targetTable != null">
        target_table = #{targetTable,jdbcType=VARCHAR},
      </if>
      <if test="targetDb != null">
        target_db = #{targetDb,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null">
        db_name = #{dbName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.github.rayejun.shardingjdbc.demo.model.mysql.Sharding">
    update base_sharding
    set sharding_key = #{shardingKey,jdbcType=VARCHAR},
      sharding_key_name = #{shardingKeyName,jdbcType=VARCHAR},
      logic_table = #{logicTable,jdbcType=VARCHAR},
      target_table = #{targetTable,jdbcType=VARCHAR},
      target_db = #{targetDb,jdbcType=VARCHAR},
      db_name = #{dbName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByKeyLogicTable" resultMap="BaseResultMap">
    select * from base_sharding where sharding_key = #{shardingKey} and logic_table = #{logicTable} limit 1
  </select>
</mapper>